.for-item{
   padding: 10px;
}

.rotulo{
    display: block;
    width: 100%;
}

input[type="text"], input[type="email"], input[type="password"], select, textarea {
    width: 100%;
    border: 1px solid #5995DA;
    padding: 3px;
}

.button {
    float: right; 
    border:1px solid; 
    padding: 11px 21px; 
    vertical-align: middle; 
    color:white;
    border-radius:6px; 
    font-size: 20px; 
    font-family:helvetica, serif;
    text-decoration:none;    
}

#btnGravar {
    background:#6FD088; 
}

#btnEditar {
    background:#3B5998; 
}

#btnExcluir {
    background:#F32F53; 
}

#btnAdicionar {
    background-color: #6FD088;
    width: 300px;
    text-align: center;
}

input[type="submit"]:hover{
    box-shadow: 2px 2px 2xp #000;
    cursor: pointer;
}

@media only screen and (min-width: 1000px) {
    .rotulo{
        display: inline-block;
        width: 20%;
    }

    input[type="text"], input[type="email"], input[type="password"], select, textarea {
        width: initial;
    }
}

.msg-erro{
    padding-left: 200px;
    padding-top: 5px;
    color: red;
    font-size: 0.8em;
    font-style: italic;
    display: none;
}

.mensagem-empresa{
    font-size: 1em;
    font-style: italic
}