.tab-produtos{
	background-color: Azure ; 
	text-align: center;
	margin:0 50px;	

}

table.tab-produtos #produto{
	text-align: justify;
	font-size: 17PX;
}

table{
	width: 90%;
}

input[type=number]{
	width:60px;
}

#lin-1{
	background-color: LightBlue ;
	text-align: center;
	padding:50px;
	font-size: 20px;
}

#totalPagar{
	position: relative;
	padding-left: 20px;
	text-shadow: 2px 0 2px #000;  
	font-size: 3em;
	font-family:Georgia, "Times New Roman", Times, serif; 
	color:#C63; 
	font-style:italic;	
}
